## <font color="maroon"><h4 align="center"> DataFrame Basics (Exercise)</font>

**Peter Pandey** arrived in Bangalore(a city in India) with the aim of finding a suitable house that fits his budget and location preferences. He has some queries related to house selection and is seeking solutions.

Help Peter Pandey to answer his questions and you are provided with a sample dataset of house information that contain area_type, availability, location, size, society, total_sqft, bath, balcony, and price.

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file 'bengaluru_house_prices.csv' and store it in variable 'df'.
- print the number of rows and columns in it
- print the Top 5 rows

In [2]:
#read the csv file
df=pd.read_csv("bengaluru_house_prices.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.00
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.00
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.00
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.00
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.00
5,Super built-up Area,Ready To Move,Jakkur,2 BHK,HRaniIb,1202,2.0,1.0,79.00
6,Super built-up Area,18-May,Mico Layout,3 BHK,NaN,1250,2.0,2.0,44.00
7,Super built-up Area,21-Dec,Kanakpura Road,1 BHK,PrarePa,525,1.0,1.0,26.00
8,Super built-up Area,Ready To Move,Thubarahalli,2 BHK,ShdhiSa,1200,2.0,2.0,79.55
9,Plot Area,Ready To Move,Whitefield,4 Bedroom,Adowslm,3100,4.0,2.0,350.00
10,Super built-up Area,Ready To Move,Kanakpura Road,3 BHK,JRrnauv,1550,3.0,3.0,65.10
11,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1235,2.0,1.0,52.04
12,Super built-up Area,18-May,Ramagondanahalli,3 BHK,ViistLa,1475,2.0,2.0,63.00
13,Super built-up Area,Ready To Move,Bannerghatta Road,3 BHK,SNity S,1520,2.0,3.0,81.00
14,Super built-up Area,Ready To Move,Budigere,2 BHK,PrityTr,1153,2.0,2.0,56.55
15,Super built-up Area,18-Aug,Chandapura,1 BHK,SunceEs,645,1.0,1.0,16.45
16,Super built-up Area,18-Dec,Hebbal,3 BHK,Mahosya,1920,3.0,2.0,134.00
17,Super built-up Area,Ready To Move,Vijayanagar,3 BHK,J axyGa,1300,2.0,2.0,75.00
18,Built-up Area,Ready To Move,Rayasandra,5 BHK,NaN,3600,5.0,3.0,145.00
19,Super built-up Area,Ready To Move,Rachenahalli,3 BHK,Sovar S,1530,2.0,2.0,74.40
20,Super built-up Area,Ready To Move,HRBR Layout,3 BHK,VDenaWa,2800,3.0,2.0,250.00
21,Super built-up Area,18-Apr,Sai Gardens,2 BHK,NaN,1120,2.0,2.0,40.00
22,Built-up Area,Ready To Move,Mallappa Layout,3 BHK,Keort F,1500,3.0,2.0,75.00
23,Super built-up Area,18-May,Dominic Layout,3 BHK,NaN,1115,3.0,1.0,39.14
24,Super built-up Area,Ready To Move,Neeladri Nagar,2 BHK,GeereEc,1363,2.0,2.0,68.00
25,Super built-up Area,Ready To Move,Sarjapur,2 BHK,NaN,1175,2.0,2.0,42.00
26,Super built-up Area,Ready To Move,Jakkur,3 BHK,BrdgeNo,1710,3.0,2.0,110.00
27,Carpet Area,Ready To Move,Maruthi Sevanagar,4 Bedroom,NaN,2100,3.0,0.0,210.00
28,Super built-up Area,Ready To Move,Banashankari,3 BHK,NaN,1340,2.0,2.0,53.60
29,Plot Area,Ready To Move,kg halli jalhalli west,3 Bedroom,NaN,980,3.0,1.0,80.00
30,Built-up Area,Ready To Move,Pattanagere,2 BHK,NaN,850,2.0,0.0,35.00
31,Super built-up Area,Ready To Move,Tumkur Road,3 BHK,Sahtsva,1354,3.0,1.0,90.00
32,Super built-up Area,Ready To Move,Yelahanka,2 BHK,Pyikad,1274,2.0,2.0,48.42
33,Super built-up Area,Ready To Move,AECS Layout,2 BHK,CMard B,1005,2.0,1.0,55.00
34,Super built-up Area,Ready To Move,Poornapragna Housing Society Layout,3 BHK,NaN,1355,2.0,3.0,58.25
35,Super built-up Area,17-Mar,Varthur,2 BHK,Uptusol,1385,2.0,3.0,80.00
36,Built-up Area,Ready To Move,CV Raman Nagar,2 BHK,NaN,1125,2.0,1.0,46.00
37,Super built-up Area,Ready To Move,Seegehalli,2 BHK,Sriferi,1176,2.0,2.0,50.00
38,Super built-up Area,Ready To Move,Electronic City,2 BHK,GMown E,770,1.0,1.0,40.00
39,Super built-up Area,Ready To Move,Banashankari,2 BHK,NaN,1195,2.0,1.0,35.84
40,Plot Area,Ready To Move,Karuna Nagar,3 Bedroom,CoinoCu,2500,3.0,2.0,190.00
41,Super built-up Area,Ready To Move,Kambipura,2 BHK,Prrtht,883,2.0,1.0,37.00
42,Super built-up Area,Ready To Move,Haralur Road,2 BHK,RInceeg,1243,2.0,2.0,46.00
43,Built-up Area,Ready To Move,Vishwapriya Layout,5 Bedroom,NaN,2800,5.0,3.0,130.00
44,Plot Area,Ready To Move,Moodalapalya,1 Bedroom,NaN,410,1.0,1.0,48.00
45,Super built-up Area,Ready To Move,Basavangudi,2 BHK,NaN,1200,2.0,3.0,120.00
46,Built-up Area,Ready To Move,Nagavara,2 BHK,NaN,936,2.0,0.0,40.20
47,Super built-up Area,Ready To Move,Singasandra,3 BHK,NaN,1464,3.0,2.0,56.00
48,Super built-up Area,Ready To Move,Choodasandra,2 BHK,Maidsr,1075,2.0,2.0,45.00
49,Super built-up Area,Ready To Move,Doctors Layout,2 BHK,NaN,1225,2.0,1.0,47.00

In [3]:
#show the number of rows and columns in dataframe 'df'
df.shape

(50, 9)

In [6]:

#show Top5 rows
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area_type       50 non-null     object
 1   availability    50 non-null     object
 2   location        50 non-null     object
 3   size            50 non-null     object
 4   society         30 non-null     object
 5   total_sqft      50 non-null     int64
 6   bath            50 non-null     float64
 7   balcony         50 non-null     float64
 8   price           50 non-null     float64
 9   price_category  50 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 4.0+ KB

### <font color="purple">**Question2**</font>
- show the unique categories present in **'area_type'** and **'size'** columns

In [4]:
#unique values in 'area_type' column
df.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [28]:
df['size'].unique()

array(['3 BHK', '4 Bedroom', '2 BHK', '2 Bedroom', '1 BHK', '5 BHK',
       '3 Bedroom', '5 Bedroom', '1 Bedroom'], dtype=object)

In [5]:
#unique values in 'size' column
unique_sizes = df['size'].unique()

print(unique_sizes)

['3 BHK' '4 Bedroom' '2 BHK' '2 Bedroom' '1 BHK' '5 BHK' '3 Bedroom'
 '5 Bedroom' '1 Bedroom']

### <font color="purple">**Question3**</font>
- Filter data which have **'2 BHK'** house size and area_type of **'Super built-up  Area'**
- Also get the count of such rows

In [30]:
#filter the data
Filter_data=df[(df['area_type']=='Super built-up Area') |(df['size']=='2 BHK')]
Filter_data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.00,Affordable
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.00,Affordable
5,Super built-up Area,Ready To Move,Jakkur,2 BHK,HRaniIb,1202,2.0,1.0,79.00,Affordable
8,Super built-up Area,Ready To Move,Thubarahalli,2 BHK,ShdhiSa,1200,2.0,2.0,79.55,Affordable
11,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1235,2.0,1.0,52.04,Affordable
14,Super built-up Area,Ready To Move,Budigere,2 BHK,PrityTr,1153,2.0,2.0,56.55,Affordable
21,Super built-up Area,18-Apr,Sai Gardens,2 BHK,NaN,1120,2.0,2.0,40.00,Affordable
24,Super built-up Area,Ready To Move,Neeladri Nagar,2 BHK,GeereEc,1363,2.0,2.0,68.00,Affordable
25,Super built-up Area,Ready To Move,Sarjapur,2 BHK,NaN,1175,2.0,2.0,42.00,Affordable
30,Built-up Area,Ready To Move,Pattanagere,2 BHK,NaN,850,2.0,0.0,35.00,Affordable
32,Super built-up Area,Ready To Move,Yelahanka,2 BHK,Pyikad,1274,2.0,2.0,48.42,Affordable
33,Super built-up Area,Ready To Move,AECS Layout,2 BHK,CMard B,1005,2.0,1.0,55.00,Affordable
35,Super built-up Area,17-Mar,Varthur,2 BHK,Uptusol,1385,2.0,3.0,80.00,High Cost
36,Built-up Area,Ready To Move,CV Raman Nagar,2 BHK,NaN,1125,2.0,1.0,46.00,Affordable
37,Super built-up Area,Ready To Move,Seegehalli,2 BHK,Sriferi,1176,2.0,2.0,50.00,Affordable
38,Super built-up Area,Ready To Move,Electronic City,2 BHK,GMown E,770,1.0,1.0,40.00,Affordable
39,Super built-up Area,Ready To Move,Banashankari,2 BHK,NaN,1195,2.0,1.0,35.84,Affordable
41,Super built-up Area,Ready To Move,Kambipura,2 BHK,Prrtht,883,2.0,1.0,37.00,Affordable
42,Super built-up Area,Ready To Move,Haralur Road,2 BHK,RInceeg,1243,2.0,2.0,46.00,Affordable
45,Super built-up Area,Ready To Move,Basavangudi,2 BHK,NaN,1200,2.0,3.0,120.00,High Cost
46,Built-up Area,Ready To Move,Nagavara,2 BHK,NaN,936,2.0,0.0,40.20,Affordable
48,Super built-up Area,Ready To Move,Choodasandra,2 BHK,Maidsr,1075,2.0,2.0,45.00,Affordable
49,Super built-up Area,Ready To Move,Doctors Layout,2 BHK,NaN,1225,2.0,1.0,47.00,Affordable

In [34]:
len(Filter_data)

23

In [31]:
Filter_data.shape

(23, 10)

In [33]:
Filter_data['size'].value_counts()

2 BHK    23
Name: size, dtype: int64

In [25]:
#show the number of rows for the filtered data
counts = Filter_data['size'].value_counts()
print(counts)

2 BHK        23
2 Bedroom     1
Name: size, dtype: int64

### <font color="purple">**Question4**</font>
- Add a new column **'price_category'** which contain a category based on the price of house.
- If price of house is less than 80, **"Affordable"**, otherwise **"High Cost"**

In [11]:
#Add the column 'price_category'

df['price_category'] = df['price'].apply(lambda x: 'Affordable' if x < 80 else 'High Cost')

In [12]:
#show the updated dataframe: top5 rows
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0,High Cost
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0,High Cost
2,Super built-up Area,Ready To Move,Kalkere,2 BHK,Sothin,925,2.0,1.0,55.0,Affordable
3,Plot Area,Ready To Move,Kodigehalli,2 Bedroom,NaN,500,1.0,0.0,55.0,Affordable
4,Super built-up Area,Ready To Move,Harlur,2 BHK,Prncyrn,1174,2.0,1.0,74.0,Affordable

### <font color="purple">**Question5**</font>

- Get all the rows that has prices greater than **mean/average** price of all houses

In [16]:
df.price.mean()

82.07080000000002

In [14]:
#write condition here
Higher_price= df[(df['price']> df.price.mean())]

In [15]:
 Higher_price

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_category
0,Super built-up Area,Ready To Move,Ambedkar Nagar,3 BHK,NaN,1920,4.0,2.0,121.0,High Cost
1,Plot Area,18-Aug,Hulimavu,4 Bedroom,ValleCi,1500,4.0,3.0,192.0,High Cost
9,Plot Area,Ready To Move,Whitefield,4 Bedroom,Adowslm,3100,4.0,2.0,350.0,High Cost
16,Super built-up Area,18-Dec,Hebbal,3 BHK,Mahosya,1920,3.0,2.0,134.0,High Cost
18,Built-up Area,Ready To Move,Rayasandra,5 BHK,NaN,3600,5.0,3.0,145.0,High Cost
20,Super built-up Area,Ready To Move,HRBR Layout,3 BHK,VDenaWa,2800,3.0,2.0,250.0,High Cost
26,Super built-up Area,Ready To Move,Jakkur,3 BHK,BrdgeNo,1710,3.0,2.0,110.0,High Cost
27,Carpet Area,Ready To Move,Maruthi Sevanagar,4 Bedroom,NaN,2100,3.0,0.0,210.0,High Cost
31,Super built-up Area,Ready To Move,Tumkur Road,3 BHK,Sahtsva,1354,3.0,1.0,90.0,High Cost
40,Plot Area,Ready To Move,Karuna Nagar,3 Bedroom,CoinoCu,2500,3.0,2.0,190.0,High Cost
43,Built-up Area,Ready To Move,Vishwapriya Layout,5 Bedroom,NaN,2800,5.0,3.0,130.0,High Cost
45,Super built-up Area,Ready To Move,Basavangudi,2 BHK,NaN,1200,2.0,3.0,120.0,High Cost