# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
#import necessary libraries
import pandas as pd 
import numpy as np 
import seaborn as sns

from matplotlib import pyplot as plt

In [2]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
df=pd.read_csv("telecom_customer_churn.csv")
pd.set_option('display.max_columns',None)
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
#2. change the settings to display all the columns
pd.set_option('display.max_columns', None)
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
#3. check the number of rows and columns
df.shape

(7043, 21)

In [5]:
#4. check the top 5 rows
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
#display all the column names
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [7]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [8]:
#check the datatype of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [9]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

cols_to_num = ['monthly_charges', 'total_charges', 'tenure']
df[cols_to_num] = df[cols_to_num].apply(pd.to_numeric, errors='coerce')

In [10]:
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges        float64
churn                 object
dtype: object

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [11]:
df.describe()

       senior_citizen       tenure  monthly_charges  total_charges
count     7043.000000  7043.000000      7043.000000    7032.000000
mean         0.162147    32.371149        64.761692    2283.300441
std          0.368612    24.559481        30.090047    2266.771362
min          0.000000     0.000000        18.250000      18.800000
25%          0.000000     9.000000        35.500000     401.450000
50%          0.000000    29.000000        70.350000    1397.475000
75%          0.000000    55.000000        89.850000    3794.737500
max          1.000000    72.000000       118.750000    8684.800000

In [32]:
print(f'mean of the Monthly charges:{df.monthly_charges.mean()}')
print(f'mode of the Monthly Charges is :{df.monthly_charges.mode()[0]}')
print(f'Median of the Monthly_charges is:{df.monthly_charges.median()}')

mean of the Monthly charges:64.76169246059918
mode of the Monthly Charges is :20.05
Median of the Monthly_charges is:70.35

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [13]:
percentiles = df['total_charges'].quantile([0.25, 0.50, 0.75])

print(f"25th Percentile: {percentiles[0.25]:.2f}")
print(f"50th Percentile: {percentiles[0.50]:.2f}")
print(f"75th Percentile: {percentiles[0.75]:.2f}")

25th Percentile: 401.45
50th Percentile: 1397.47
75th Percentile: 3794.74

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [14]:
range_monthly_charges=df['monthly_charges'].max()-df['monthly_charges'].min()
print("Range of monthly charges column:",range_monthly_charges)

Range of monthly charges column: 100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [15]:
first_quartile_monthly_charges_not_churned = df.loc[df['churn'] == 'No', 'monthly_charges'].quantile(0.25)
print('First quartile of monthly charges column for customers who have not churned:', first_quartile_monthly_charges_not_churned)

First quartile of monthly charges column for customers who have not churned: 25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [16]:
Third_quartile_total_charges_churned = df.loc[df['churn'] == 'Yes', 'total_charges'].quantile(0.75)
print('Third quartile of total charges column for customers who have churned:', Third_quartile_total_charges_churned)

Third quartile of total charges column for customers who have churned: 2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [33]:
Mode_payment_method_churned=df.loc[df['churn'] == 'Yes','payment_method'].mode()[0]
Mode_payment_method_churned

'Electronic check'

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [25]:
# Filter the rows based on the churn status and contract type

month_contract_customer = df[(df['churn'] =='Yes') & (df['contract'] =='Month-to-month')]
month_contract_customer.shape

(1655, 21)

In [23]:
# Calculate the mean of the total charges column

month_contract_customer.total_charges.mean()

1164.4605740181269

In [24]:
# Print the result
month_contract_customer.describe()

       senior_citizen       tenure  monthly_charges  total_charges
count     1655.000000  1655.000000      1655.000000    1655.000000
mean         0.266465    14.016918        73.019396    1164.460574
std          0.442244    15.828615        24.084146    1481.646935
min          0.000000     1.000000        18.850000      18.850000
25%          0.000000     2.000000        55.200000      94.200000
50%          0.000000     7.000000        79.050000     514.000000
75%          1.000000    21.000000        90.875000    1649.650000
max          1.000000    71.000000       117.450000    7548.100000

In [34]:
# Print the result
print('Mean of total charges column for customers who have churned and have a month-to-month contract:', month_contract_customer.total_charges.mean())

Mean of total charges column for customers who have churned and have a month-to-month contract: 1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [30]:
# Filter the rows based on the churn status and contract type
two_year_contract_Customer = df[(df['churn'] =='No') & (df['contract'] =='Two year')]
two_year_contract_Customer.shape

(1647, 21)

In [36]:
# Calculate the median of the tenure column
median_tenure = two_year_contract_Customer.tenure.median()
median_tenure

64.0

In [37]:
# Print the result
print('Median of tenure column for customers who have not churned and have a two-year contract:', median_tenure)

Median of tenure column for customers who have not churned and have a two-year contract: 64.0