# <font color="maroon"><h4 align="center">Pandas Concat and Merge: Exercise</h4></font>

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the 3 csv files provided into seperate dataframes (movies.csv to df_movies, financials.csv to df_financials, languages.csv to df_languages).
- show the top 3 rows for each dataframe.

In [25]:
#for movies.csv

df_movies = pd.read_csv("movies.csv")
df_movies

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5
5,106,Sholay,Bollywood,1975,8.1,United Producers,1
6,107,Dilwale Dulhania Le Jayenge,Bollywood,1995,8.0,Yash Raj Films,1
7,108,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,1
8,109,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,1
9,110,Bajirao Mastani,Bollywood,2015,7.2,NaN,1
10,111,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,5
11,112,Inception,Hollywood,2010,8.8,Warner Bros. Pictures,5
12,113,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,5
13,115,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,5
14,116,Gladiator,Hollywood,2000,8.5,Universal Pictures,5
15,117,Titanic,Hollywood,1997,7.9,Paramount Pictures,5
16,118,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,5
17,119,Avatar,Hollywood,2009,7.8,20th Century Fox,5
18,120,The Godfather,Hollywood,1972,9.2,Paramount Pictures,5
19,121,The Dark Knight,Hollywood,2008,9.0,Syncopy,5
20,122,Schindler's List,Hollywood,1993,9.0,Universal Pictures,5
21,123,Jurassic Park,Hollywood,1993,8.2,Universal Pictures,5
22,124,Parasite,Hollywood,2019,8.5,NaN,5
23,125,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,5
24,126,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,5
25,127,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,7
26,128,Taare Zameen Par,Bollywood,2007,8.3,NaN,1
27,129,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,1
28,130,PK,Bollywood,2014,8.1,Vinod Chopra Films,1
29,131,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1
30,132,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2
31,133,RRR,Bollywood,2022,8.0,DVV Entertainment,2
32,134,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,2
33,135,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,1
34,136,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,1
35,137,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,5
36,138,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,5
37,139,Race 3,Bollywood,2018,1.9,Salman Khan Films,1
38,140,Shershaah,Bollywood,2021,8.4,Dharma Productions,1

In [26]:
#for financials.csv
df_financials= pd.read_csv("financials.csv")
df_financials

    movie_id    budget   revenue       unit currency
0        101      1.00      12.5   Billions      INR
1        102    200.00     954.8   Millions      USD
2        103    165.00     644.8   Millions      USD
3        104    180.00     854.0   Millions      USD
4        105    250.00     670.0   Millions      USD
5        107    400.00    2000.0   Millions      INR
6        108    550.00    4000.0   Millions      INR
7        109    390.00    1360.0   Millions      INR
8        110      1.40       3.5   Billions      INR
9        111     25.00      73.3   Millions      USD
10       113    165.00     701.8   Millions      USD
11       114    205.00     365.3   Millions      USD
12       115     55.00     307.1   Millions      USD
13       116    103.00     460.5   Millions      USD
14       117    200.00    2202.0   Millions      USD
15       118      3.18       3.3   Millions      USD
16       119    237.00    2847.0   Millions      USD
17       120      7.20     291.0   Millions      USD
18       121    185.00    1006.0   Millions      USD
19       122     22.00     322.2   Millions      USD
20       123     63.00    1046.0   Millions      USD
21       124     15.50     263.1   Millions      USD
22       125    400.00    2798.0   Millions      USD
23       126    400.00    2048.0   Millions      USD
24       127  70000.00  100000.0  Thousands      INR
25       128    120.00    1350.0   Millions      INR
26       129    100.00     410.0   Millions      INR
27       130    850.00    8540.0   Millions      INR
28       131      1.00       5.9   Billions      INR
29       132      2.00       3.6   Billions      INR
30       133      5.50      12.0   Billions      INR
31       134      1.80       6.5   Billions      INR
32       135    250.00    3409.0   Millions      INR
33       136    900.00   11690.0   Millions      INR
34       137    216.70     370.6   Millions      USD
35       138    177.00     714.4   Millions      USD
36       139      1.80       3.1   Billions      INR
37       140    500.00     950.0   Millions      INR
38       406     30.00     350.0   Millions      INR
39       412    160.00     836.8   Millions      USD

In [27]:
#for languages.csv
df_languages= pd.read_csv("languages.csv")
df_languages

   language_id lang_name
0            1     Hindi
1            2    Telugu
2            3   Kannada
3            4     Tamil
4            5   English
5            6    French
6            7   Bengali
7            8  Gujarati

In [28]:
#show top3 rows in df_movies
df_movies.head(3)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5

In [30]:
#show top3 rows in df_financials
df_financials.head(3)

   movie_id  budget  revenue      unit currency
0       101     1.0     12.5  Billions      INR
1       102   200.0    954.8  Millions      USD
2       103   165.0    644.8  Millions      USD

In [31]:
#show top3 rows in df_languages
df_languages.head(3)

   language_id lang_name
0            1     Hindi
1            2    Telugu
2            3   Kannada

### <font color="purple">**Question2**</font>
- Read the csv file 'new_movies.csv' and store it into dataframe 'df_new_movies'
- Now, concat the dataframes [df_movies, df_new_movies] and store the results again to df_movies. Make sure to ignore the index while concatenating

In [32]:
#read the csv file: 'new_movies.csv'

df_new_movies= pd.read_csv("new_movies.csv")

In [33]:
#show the dataframe
df_new_movies

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,201,Pathaan,Bollywood,2023,6.6,Yash Raj Films,1
1,210,Vikram,Bollywood,2022,8.3,Raaj Kamal Films International,4
2,240,Black Panther: Wakanda Forever,Hollywood,200,6.9,Marvel Studios,5

In [34]:
#concat the two dataframes ['df_movies', df_new_movies]
df_movies=pd.concat([df_movies,df_new_movies],ignore_index=True)

df_movies

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5
5,106,Sholay,Bollywood,1975,8.1,United Producers,1
6,107,Dilwale Dulhania Le Jayenge,Bollywood,1995,8.0,Yash Raj Films,1
7,108,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,1
8,109,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,1
9,110,Bajirao Mastani,Bollywood,2015,7.2,NaN,1
10,111,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,5
11,112,Inception,Hollywood,2010,8.8,Warner Bros. Pictures,5
12,113,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,5
13,115,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,5
14,116,Gladiator,Hollywood,2000,8.5,Universal Pictures,5
15,117,Titanic,Hollywood,1997,7.9,Paramount Pictures,5
16,118,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,5
17,119,Avatar,Hollywood,2009,7.8,20th Century Fox,5
18,120,The Godfather,Hollywood,1972,9.2,Paramount Pictures,5
19,121,The Dark Knight,Hollywood,2008,9.0,Syncopy,5
20,122,Schindler's List,Hollywood,1993,9.0,Universal Pictures,5
21,123,Jurassic Park,Hollywood,1993,8.2,Universal Pictures,5
22,124,Parasite,Hollywood,2019,8.5,NaN,5
23,125,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,5
24,126,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,5
25,127,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,7
26,128,Taare Zameen Par,Bollywood,2007,8.3,NaN,1
27,129,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,1
28,130,PK,Bollywood,2014,8.1,Vinod Chopra Films,1
29,131,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1
30,132,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2
31,133,RRR,Bollywood,2022,8.0,DVV Entertainment,2
32,134,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,2
33,135,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,1
34,136,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,1
35,137,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,5
36,138,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,5
37,139,Race 3,Bollywood,2018,1.9,Salman Khan Films,1
38,140,Shershaah,Bollywood,2021,8.4,Dharma Productions,1
39,201,Pathaan,Bollywood,2023,6.6,Yash Raj Films,1
40,210,Vikram,Bollywood,2022,8.3,Raaj Kamal Films International,4
41,240,Black Panther: Wakanda Forever,Hollywood,200,6.9,Marvel Studios,5

In [35]:
#show the last 5 rows
df_movies.tail()

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
37,139,Race 3,Bollywood,2018,1.9,Salman Khan Films,1
38,140,Shershaah,Bollywood,2021,8.4,Dharma Productions,1
39,201,Pathaan,Bollywood,2023,6.6,Yash Raj Films,1
40,210,Vikram,Bollywood,2022,8.3,Raaj Kamal Films International,4
41,240,Black Panther: Wakanda Forever,Hollywood,200,6.9,Marvel Studios,5

### <font color="purple">**Question3**</font>

- Merge the dataframe df_movies with the df_languages on 'language_id'.
- Make sure you perform a **inner** join here.
- Store the result again to df_movies

In [36]:
#perform the join operation
df_movies= pd.merge(df_movies, df_languages,on="language_id",how='inner')

#show the top 5 rows
df_movies.head()

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,lang_name
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,Kannada
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,English
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5,English
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5,English
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5,English

### <font color="purple">**Question4**</font>

- Merge the dataframe df_movies with the df_financials on 'movie_id'.
- Make sure you perform a **left** join here.
- Store the result again to df_movies

In [37]:
#perform the join operation
df_movies=pd.merge(df_movies,df_financials,on='movie_id',how="left")
#show the last 5 rows
df_movies.tail()

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,lang_name,budget,revenue,unit,currency
37,127,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,7,Bengali,70000.0,100000.0,Thousands,INR
38,132,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2,Telugu,2.0,3.6,Billions,INR
39,133,RRR,Bollywood,2022,8.0,DVV Entertainment,2,Telugu,5.5,12.0,Billions,INR
40,134,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,2,Telugu,1.8,6.5,Billions,INR
41,210,Vikram,Bollywood,2022,8.3,Raaj Kamal Films International,4,Tamil,NaN,NaN,NaN,NaN

### <font color="purple">**Question5**</font>

- Save the 'df_movies' dataframe with name 'final_complete_data.csv'.
- Only take the columns 'movie_id', 'title', 'lang_name', 'budget', 'revenue', 'currency'
- set the index to False while saving the dataframe

In [38]:
#save the dataframe to 'final_complete_data.csv'
df_movies.to_csv("final_complete_data",columns=[ 'movie_id', 'title', 'lang_name', 'budget', 'revenue', 'currency'],index= False)